<a href="https://colab.research.google.com/github/noor848/python_ShAI/blob/main/Copy_of_Pandas_extra.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### open tmdb_5000_movies dataset  and answer questions below

***import Library you nedd it***

In [ ]:
import pandas as pd

***Open Your CSV file and print the first 10 rows in a good format***

In [ ]:
data1=pd.read_csv('tmdb_5000_movies.csv')
data1

         budget  ... vote_count
0     237000000  ...      11800
1     300000000  ...       4500
2     245000000  ...       4466
3     250000000  ...       9106
4     260000000  ...       2124
...         ...  ...        ...
4798     220000  ...        238
4799       9000  ...          5
4800          0  ...          6
4801          0  ...          7
4802          0  ...         16

[4803 rows x 20 columns]

***Check if any NANs in your dataset and fill them with a good filer***

In [ ]:
### Check if any NANs in your dataset and fill them with a good filer ###
data1.isnull().sum()

budget                     0
genres                     0
homepage                3091
id                         0
keywords                   0
original_language          0
original_title             0
overview                   3
popularity                 0
production_companies       0
production_countries       0
release_date               1
revenue                    0
runtime                    2
spoken_languages           0
status                     0
tagline                  844
title                      0
vote_average               0
vote_count                 0
dtype: int64

***Discover the types of each columns and modify them if needed***

In [ ]:
data1.dtypes

budget                    int64
genres                   object
homepage                 object
id                        int64
keywords                 object
original_language        object
original_title           object
overview                 object
popularity              float64
production_companies     object
production_countries     object
release_date             object
revenue                   int64
runtime                 float64
spoken_languages         object
status                   object
tagline                  object
title                    object
vote_average            float64
vote_count                int64
dtype: object

***Give a very simple statistical analsys for the numerical columns***

In [ ]:
data1.describe()

,budget,id,popularity,revenue,runtime,vote_average,vote_count
count,4.803000e+03,4803.000000,4803.000000,4.803000e+03,4801.000000,4803.000000,4803.000000
mean,2.904504e+07,57165.484281,21.492301,8.226064e+07,106.875859,6.092172,690.217989
std,4.072239e+07,88694.614033,31.816650,1.628571e+08,22.611935,1.194612,1234.585891
min,0.000000e+00,5.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000
25%,7.900000e+05,9014.500000,4.668070,0.000000e+00,94.000000,5.600000,54.000000
50%,1.500000e+07,14629.000000,12.921594,1.917000e+07,103.000000,6.200000,235.000000
75%,4.000000e+07,58610.500000,28.313505,9.291719e+07,118.000000,6.800000,737.000000
max,3.800000e+08,459488.000000,875.581305,2.787965e+09,338.000000,10.000000,13752.000000

In [ ]:
### Is there any relation between the runtime and average vote value ### **


data1[['runtime','vote_average']].corr()

               runtime  vote_average
runtime       1.000000      0.375046
vote_average  0.375046      1.000000

In [ ]:
### Rearange the dataframe based on vote_average column values ###
data1.sort_values(by=['vote_average']).head(1)

      budget genres homepage  ...        title vote_average vote_count
4633       0     []      NaN  ...  Death Calls          0.0          0

[1 rows x 20 columns]

In [ ]:
### Rearange the dataframe based on runtime column values ###
data1.sort_values(by=['runtime']).head(2)

      budget                              genres  ... vote_average  vote_count
4118       0                                  []  ...          0.0           0
4210       0  [{"id": 10749, "name": "Romance"}]  ...          0.0           0

[2 rows x 20 columns]



### Bonus
***Calculate the mean rate for [1999, 1980, 2004, 2017] the movies grouped by years***

- Ex: Average Movies Rate at 2009 is 6.065587

In [ ]:
x=data1['release_date'].str.split('-', expand=True)
x.columns=['year',1,2]
x['avg']=data1['vote_average']

options = ['1999', '1980',"2004","2017"]
rslt_df = x[x['year'].isin(options)]
rslt_df

rslt_df.groupby(by=['year']).mean()

           avg
year
1980  6.609091
1999  6.110526
2004  6.104412
2017  7.400000

## Good Luck